/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */

[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
}

/* .container {
  background-color: red;
  height: 100px;
  border: solid 1px  #000;
} */

/* regole pagina */

header, #sezione5 {
  background-color: #2c3e50;
}

#sezione1, #sezione3 {
  background-color: #1abc9c;
}


/* header */




/* parte centrale */
/* sezione 1 */

#start, #portfolio, #about, #download, #contact, #form, .testosez3, .info, #copyright {
  width:80%;
  margin: auto;
  background-color: red;
  min-height: 100px;
  text-align: center;
}

form {
  text-align: left;
}

form textarea, form input {
  width: 100%;
}

#avatar {
  width: 50%;
  margin: auto;
}

#avatar > img, .imgportfolio > img {
  width: 100%;
  height: auto;
}


/* sezione 2 */

.imgportfolio {
  width: 95%;
  margin: auto;
}



/* sezione 3 */


/* sezione 4 */


/* piè di pagina */

/* sezione 5 */


/* sezione6 */

#sezione6 {
  background-color: #1a252f;
}
